.features__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #8CA0A6;
  margin: 0;
  max-width: 855px;
  width: 100%;
  margin-bottom: 68px;
}

@media screen and (max-width: 1204px) {
  .features__subtitle {
    width: auto;
    max-width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .features__subtitle {
    width: auto;
    max-width: 90%;
  }
}
