.content__bg {
  position: relative;
  width: 5855.58px;
  height: 1858.83px;
  margin-top: 605px;
  margin-left: 50%;
  border-radius: 50%;
  transform: translateX(-50%);
  z-index: -1;
  background: linear-gradient(180deg, #F5FBFD 0%, rgba(245, 251, 253, 0) 100%);
}

@media screen and (max-width: 1024px) {
  .content__bg {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .content__bg {
    display: block;
    margin-top: 1060px;
  }
}
