.cards__item {
    width: 241px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 768px) {
  .cards__item {
    width: 200px;
    margin-bottom: 50px;
  }
}
