.page__intro {
  max-width: 1111px;
  margin: 0 auto;
  padding-bottom: 31px;
}

@media screen and (max-width: 1204px) {
  .page__intro {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .page__intro {
    margin-top: 50px;
    padding-bottom: 80px;
  }
}

