.partners__slider {
    width: 100%;
    max-width: 1104px;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
  .partners__slider {
    width: auto;
    max-width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .partners__slider {
    width: auto;
    max-width: 75%;
  }
}
