.features__title {
  font-family: 'Sunflower', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  color: #305F6D;
  margin: 0;
  margin-bottom: 25px;
}
