.intro {
  min-height: 519px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  /* для блока rotation, чтобы крутящийся элемент не закрывал ссылок хедера */
  background: url('../../images/intro/intro__map.svg') no-repeat center left/823px 457px;
}

@media screen and (max-width: 1204px) {
  .intro {
    flex-direction: column-reverse;
    height: auto;
    background-position: center;
  }
}

